/*
	index.html styles
*/

/* variable colours

	--iorange: rgb(235, 89, 55);
	--idarkgrey: rgb(28, 25, 25);
	--igrey: rgb(64, 61, 60);
	--iblue: rgb(69, 111, 116);
	--ilightgrey: rgb(211, 203, 189);
	
*/

body, html
{
	height: 100%;
	margin: 0;
	background: rgb(28, 25, 25);
	font-family: 'Work Sans', sans-serif;
}

h3
{
	font-family: 'Work Sans', sans-serif;
	font-size: 2em;
}

/* page styling */
.infobox
{
	padding: 2% 2%;
	background-color: rgba(28, 25, 25, 0.9);
	color: rgb(211, 203, 189);
	font-size: 1em;
}

.infobox h3
{
	font-size: 1.3em;
	color: rgb(69, 111, 116);
	width: 30%;
}

#rowlinks
{
	margin-top: 2%;	
}

#rowstatistic
{
	margin-top: 5%;
}

#rowmaintext
{
	margin-top: 10%;
}

#preconception
{
	display: none;
	position: absolute;
	top: 60%;
	left: 10%;
}

#experience1
{
	display: none;
	position: absolute;
	top: 60%;
	left: 60%;
}

#experience2
{
	display: none;
	position: absolute;
	top: 60%;
	left: 60%;
}

#experience3
{
	display: none;
	position: absolute;
	top: 60%;
	left: 60%;
}

#statistic
{
	display: none;
	position: absolute;
	top: 20%;
	left: 40%;
}

#storynav
{
	display: none;
	background-color: rgba(235, 89, 55, 0.8);
	padding: 2%;
	position: fixed;
	top: 70%;
	left: 80%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

#storynav a
{
	color: rgb(28, 25, 25);
	font-size: 1.2em;
}

p.links
{
	font-family: 'Work Sans', sans-serif;
	font-size: 0.8em;
	color: rgb(235, 89, 55);
}

.links:hover
{
	color: rgb(211, 203, 189);
}

a
{
	text-decoration: none;
	color: rgb(235, 89, 55);
}

a:hover
{
	color: rgb(211, 203, 189);
}

/* image styling */

div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6
{
	padding: 0px;
}

/* image interactions */
.caption 
{
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    /*opacity: 0;*/
    display: none; /* comment this out for CSS hover */
    background-color: rgba(28, 25, 25, 0.8);
    /*transition: all 0.5s ease;*/
}

.caption p 
{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 5%;
    padding-right: 5%;
    width: 100%;
    text-align: left;
}


