/*
	index.html styles
*/

/* variable colours

	--iorange: rgb(235, 89, 55);
	--idarkgrey: rgb(28, 25, 25);
	--igrey: rgb(64, 61, 60);
	--iblue: rgb(69, 111, 116);
	--ilightgrey: rgb(211, 203, 189);
	
*/

body
{
	padding-top: 50px;
	background: rgb(28, 25, 25);
	font-family: 'Work Sans', sans-serif;
}

h3
{
	font-family: 'Work Sans', sans-serif;
	font-size: 2em;
}

/* page styling */
#focusquote
{
	text-align: center;
	color: rgb(211, 203, 189);
}

#focusquote h3
{
	color: rgb(69, 111, 116);
}

/* image styling */

div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6
{
	padding: 0px;
}

/* image interactions */
.caption 
{
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    /*opacity: 0;*/
    display: none; /* comment this out for CSS hover */
    background-color: rgba(28, 25, 25, 0.8);
    /*transition: all 0.5s ease;*/
}

.caption p 
{
    position: absolute;
    color: #fff;
    top: 60%;
    left: 5%;
    width: 100%;
    text-align: left;
}


